<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>MILEAGE</title>
<title>Vishnu Priya A K (25018523)</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<style type="text/css">
body
{
background-color:014D4E;
.edge {
width: 1440px;
margin-left: auto;
margin-right: auto;
padding-top: 250px;
padding-left: 300px;
}
.box {
display:block; 
width: 500px;
border: Thick dashed D44641;
min-height: 350px;
font-size: 20px;
background-color:D44641;
}
.formelt{
color:black;
text-align: center;
margin-top: 7px;
margin-bottom: 6px;
}
h1
{
color:014D4E;
text-align: center;
padding-top: 20px;
}
</style>
</head>
<body>
<div class="edge">
<div class="box">
 <h1>MILEAGE</h1>
<h4>        Vishnu Priya A K (25018523)</h4>
<form method="POST">
{% csrf_token %}
<div class="formelt">
Distance : <input type="text" name="distance" value="{{d}}"></input>(in km)<br/>
</div>
<div class="formelt">
Fuel consumed : <input type="text" name="fuel consumed" value="{{f}}"></input>(in L)<br/>
</div>
<div class="formelt">
<input type="submit" value="Calculate"></input><br/>
</div>
<div class="formelt">
Mileage : <input type="text" name="mileage" value="{{mileage}}"></input>km/L<br/>
</div>
</form>
</div>
</div>
</body>
</html>
